@page
@model SharkGaming.Pages.ProductInfoPages.PreBuildListPageModel
@{
}

<div class="text-center">
    <h1 style="color:white">Pre-Builds</h1>
</div>

<br />

<div class="row center">
    <div class="column col-12 center columnCustom">

@*  Smart way to do it, but we don't know how to make an image an object property. 
    (and we forgot to make description a property as well)
    
    @foreach(var x in Model.preBuilds)
        {
        <div>
            <a href="#" class="btn btn-dark">
                <h1 class="text-center">
                    @x.Name
                </h1>

                <img src="~/Images/Components/Case1.png" class="img-fluid" />
                <br />
                Desciption
                <br />

                <h1 class="text-orange">
                    @x.Price
                </h1>
            </a>
            <a class="btn btnGreen" style="width:100%">Add to cart</a>
        </div>
        <br />
        }*@

        @foreach (var x in Model.preBuilds)
        {
            if (x.Id == 22)
            {
                <div>
                    <a href="/ProductInfoPages/PrebuildInfoPages/Prebuild1InfoPage" class="btn btn-dark">
                        <h1 class="text-center">
                            @x.Name
                        </h1>

                        <img src="~/images/Components/Case1.png" class="img-fluid" />
                        <br />
                        Desciption
                        <br />

                        <h1 class="text-orange">
                            @x.Price
                        </h1>
                    </a>
                    <a class="btn btnGreen" style="width:100%">Add to cart</a>
                </div>
                <br />
            }
        }

        @foreach (var x in Model.preBuilds)
        {
            if (x.Id == 32)
            {
                <div>
                    <a href="/ProductInfoPages/PrebuildInfoPages/Prebuild2InfoPage" class="btn btn-dark">
                        <h1 class="text-center">
                            @x.Name
                        </h1>

                        <img src="~/images/Components/Case1.png" class="img-fluid" />
                        <br />
                        Desciption
                        <br />

                        <h1 class="text-orange">
                            @x.Price
                        </h1>
                    </a>
                    <a class="btn btnGreen" style="width:100%">Add to cart</a>
                </div>
                <br />
            }
        }

        @foreach (var x in Model.preBuilds)
        {
            if (x.Id == 42)
            {
                <div>
                    <a href="/ProductInfoPages/PrebuildInfoPages/Prebuild3InfoPage" class="btn btn-dark">
                        <h1 class="text-center">
                            @x.Name
                        </h1>

                        <img src="~/images/Components/Case1.png" class="img-fluid" />
                        <br />
                        Desciption
                        <br />

                        <h1 class="text-orange">
                            @x.Price
                        </h1>
                    </a>
                    <a class="btn btnGreen" style="width:100%">Add to cart</a>
                </div>
                <br />
            }
        }

    </div>
</div>