@page
@model SharkGaming.Pages.ProductInfoPages.ComponentInfoPages.CasePage3Model
@{
}

<div class="text-center">
    <h1 style="color:white">
        @if (Model.components != null)
        {
            foreach (var item in Model.components)
            {
                @if (item.Id == 2)
                {
                    @item.Name
                }
            }
        }
    </h1>
</div>

<br />

<div class="row text-center">
    <div class="column col-6">
        <img src="~/images/components/Case3.png" style=" width: 70%" />
    </div>
    <div class="column col-6">
        <h3 style="color:white">Description</h3>
        <p style="color:white">This cage is specifically designed to make any casual gamer very confused. But with this one everyone will admire you. Just make sure not to sit on it my mistake, since it will poke back.</p>
        <h1 style="color:white">
            Price:
            @if (Model.components != null)
            {
                foreach (var item in Model.components)
                {
                    @if (item.Id == 2)
                    {
                        @item.Price
                    }
                }
            }
            kr
        </h1>
        <a class="btn btnGreen">Add to cart</a>
    </div>
</div>

<br />

<table class="table table-bordered center bg-dark text-white" style="width:85%">
    <thead>
        <tr>
            <th style="width:50%">Specification</th>
            <th style="width:50%">Info</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Compatibility</td>
            <td>AMD and Intel</td>
        </tr>
        <tr>
            <td>Size type</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        @if (item.Id == 2)
                        {
                            @item.SizeType
                            ;
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Colour</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        @if (item.Id == 2)
                        {
                            @item.Colour
                            ;
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Amount of Fans</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        if (item.Id == 2)
                        {
                            @item.AmountOfFans
                            ;
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>RGB</td>
            <td>
                True
            </td>
        </tr>
        <tr>
            <td>Width</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        @if (item.Id == 2)
                        {
                            @item.Width
                            ;
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Depth</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        @if (item.Id == 2)
                        {
                            @item.Depth
                            ;
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Height</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        @if (item.Id == 2)
                        {
                            @item.Height
                            ;
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td> Support Motherboard</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        @if (item.Id == 2)
                        {
                            @item.SupportMotherboard
                            ;
                        }

                    }
                }
            </td>
        </tr>
        <tr>
            <td>Build-in interface</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        @if (item.Id == 2)
                        {
                            @item.BuildInInterface
                            ;
                        }
                    }
                }
            </td>
        </tr>
    </tbody>
</table>
