@page
@model SharkGaming.Pages.ProductInfoPages.ComponentInfoPages.CpuPage1Model
@{
}

<div class="text-center">
    <h1 style="color:white">
        @if (Model.components != null)
        {
            foreach (var item in Model.components)
            {
                @if (item.Id == 13)
                {
                    @item.Name
                }
            }
        }
    </h1>
</div>

<br />

<div class="row text-center">
    <div class="column col-6">
        <img src="~/images/components/CPU2.png" style=" width: 70%" />
    </div>
    <div class="column col-6">
        <h3 style="color:white">Description</h3>
        <p style="color:white">SharkGaming aquarium is a case that allows you to connect to the motherboard and control RGB through the software</p>
        <h1 style="color:white">
            Price:
            @if (Model.components != null)
            {
                foreach (var item in Model.components)
                {
                    @if (item.Id == 13)
                    {
                        @item.Price
                    }
                }
            }
            kr
        </h1>
        <a class="btn btnGreen">Add to cart</a>
    </div>
</div>

<br />

<table class="table table-bordered center bg-dark text-white" style="width:85%">
    <thead>
        <tr>
            <th style="width:50%">Specification</th>
            <th style="width:50%">Info</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Compatibility</td>
            <td>AMD</td>
        </tr>
        <tr>
            <td>Clock speed</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        @if (item.Id == 13)
                        {
                            @item.ClockSpeed
                            ;
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Boost clock</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        @if (item.Id == 13)
                        {
                            @item.BoostClock
                            ;
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Core</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        if (item.Id == 13)
                        {
                            @item.Core
                            ;
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Threads</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        if (item.Id == 13)
                        {
                            @item.Threads
                            ;
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Unlocked for overclocking</td>
            <td>
                True
            </td>
        </tr>
        <tr>
            <td>PCI express</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        @if (item.Id == 13)
                        {
                            @item.PCIExpress
                            ;
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Thermal design power</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        @if (item.Id == 13)
                        {
                            @item.ThermalDesignPower
                            ;
                        }
                    }
                }
            </td>
        </tr>
    </tbody>
</table>
