@page
@model SharkGaming.Pages.ProductInfoPages.ComponentInfoPages.Mdot2Page1Model
@{
}

<div class="text-center">
    <h1 style="color:white">
        @if (Model.components != null)
        {
            foreach (var item in Model.components)
            {
                @if (item.Id == 29)
                {
                    @item.Name
                }
            }
        }
    </h1>
</div>

<br />

<div class="row text-center">
    <div class="column col-6">
        <img src="~/images/components/Mdot2-3.png" style=" width: 70%" />
    </div>
    <div class="column col-6">
        <h3 style="color:white">Description</h3>
        <p style="color:white">Crucial P2 500GB 3D NAND is a budget friendly m.2 ssd with PCI express 3 with a transfer 2300 mb/sec</p>
        <h1 style="color:white">
            Price:
            @if (Model.components != null)
            {
                foreach (var item in Model.components)
                {
                    @if (item.Id == 29)
                    {
                        @item.Price
                    }
                }
            }
            kr
        </h1>
        <a class="btn btnGreen">Add to cart</a>
    </div>
</div>

<br />

<table class="table table-bordered center bg-dark text-white" style="width:85%">
    <thead>
        <tr>
            <th style="width:50%">Specification</th>
            <th style="width:50%">Info</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Compatibility</td>
            <td>AMD and Intel</td>
        </tr>
        <tr>
            <td>Capacity</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        @if (item.Id == 29)
                        {
                            @item.Capacity
                            ;
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Compatible bay</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        @if (item.Id == 29)
                        {
                            @item.CompatibleBay
                            ;
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Internal Date rate</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        if (item.Id == 29)
                        {
                            @item.InternalDateRate
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>PCI express</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        if (item.Id == 29)
                        {
                            @item.PCIExpress
                            ;
                        }
                    }
                }
            </td>
        </tr>
    </tbody>
</table>