@page
@model SharkGaming.Pages.ProductInfoPages.ComponentInfoPages.MotherBoardPage1Model
@{
}

<div class="text-center">
    <h1 style="color:white">
        @if (Model.components != null)
        {
            foreach (var item in Model.components)
            {
                @if (item.Id == 20)
                {
                    @item.Name
                }
            }
        }
    </h1>
</div>

<br />

<div class="row text-center">
    <div class="column col-6">
        <img src="~/images/components/Motherboard3.png" style=" width: 70%" />
    </div>
    <div class="column col-6">
        <h3 style="color:white">Description</h3>
        <p style="color:white">SharkGaming aquarium is a case that allows you to connect to the motherboard and control RGB through the software</p>
        <h1 style="color:white">
            Price:
            @if (Model.components != null)
            {
                foreach (var item in Model.components)
                {
                    @if (item.Id == 20)
                    {
                        @item.Price
                    }
                }
            }
            kr
        </h1>
        <a class="btn btnGreen">Add to cart</a>
    </div>
</div>

<br />

<table class="table table-bordered center bg-dark text-white" style="width:85%">
    <thead>
        <tr>
            <th style="width:50%">Specification</th>
            <th style="width:50%">Info</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Compatibility</td>
            <td>AMD and Intel</td>
        </tr>
        <tr>
            <td>Max ram size</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        @if (item.Id == 20)
                        {
                            @item.MaxRamSize
                            ;
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Technology</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        @if (item.Id == 20)
                        {
                            @item.Technology
                            ;
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Bus clock</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        if (item.Id == 20)
                        {
                            @item.BuSClock
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Product type</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        if (item.Id == 20)
                        {
                            @item.ProductType
                            ;
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Chipset type</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        if (item.Id == 20)
                        {
                            @item.ChipsetType
                            ;
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Processor socket</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        if (item.Id == 20)
                        {
                            @item.ProcessorSocket
                            ;
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Power connectors</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        if (item.Id == 20)
                        {
                            @item.PowerConnectors
                            ;
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Bios type</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        if (item.Id == 20)
                        {
                            @item.BIOSType
                            ;
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>PCI express</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        if (item.Id == 20)
                        {
                            @item.PCIExpress
                            ;
                        }
                    }
                }
            </td>
        </tr>
    </tbody>
</table>