@page
@model SharkGaming.Pages.ProductInfoPages.ComponentInfoPages.PowerSupplyPage1Model
@{
}

<div class="text-center">
    <h1 style="color:white">
        @if (Model.components != null)
        {
            foreach (var item in Model.components)
            {
                @if (item.Id == 21)
                {
                    @item.Name
                }
            }
        }
    </h1>
</div>

<br />

<div class="row text-center">
    <div class="column col-6">
        <img src="~/images/components/PSU1.png" style=" width: 70%" />
    </div>
    <div class="column col-6">
        <h3 style="color:white">Description</h3>
        <p style="color:white">Corsair AX1600I Modular Titanium is certified as a Titanium PSU it delivers up to a total 1600W</p>
        <h1 style="color:white">
            Price:
            @if (Model.components != null)
            {
                foreach (var item in Model.components)
                {
                    @if (item.Id == 21)
                    {
                        @item.Price
                    }
                }
            }
            kr
        </h1>
        <a class="btn btnGreen">Add to cart</a>
    </div>
</div>

<br />

<table class="table table-bordered center bg-dark text-white" style="width:85%">
    <thead>
        <tr>
            <th style="width:50%">Specification</th>
            <th style="width:50%">Info</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Compatibility</td>
            <td>AMD and Intel</td>
        </tr>
        <tr>
            <td>PSU form factor</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        @if (item.Id == 21)
                        {
                            @item.PSUFormFactor
                            ;
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Colour category</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        @if (item.Id == 21)
                        {
                            @item.ColourCategory
                            ;
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Class type</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        if (item.Id == 21)
                        {
                            @item.ClassType;
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Power capacity</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        if (item.Id == 21)
                        {
                            @item.PowerCapacity
                            ;
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Molex</td>
            <td>
                True
            </td>
        </tr>
        <tr>
            <td>Cooling system</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        if (item.Id == 21)
                        {
                            @item.CoolingSystem
                            ;
                        }
                    }
                }
            </td>
        </tr>
    </tbody>
</table>