@page
@model SharkGaming.Pages.ProductInfoPages.ComponentInfoPages.RamPage1Model
@{
}

<div class="text-center">
    <h1 style="color:white">
        @if (Model.components != null)
        {
            foreach (var item in Model.components)
            {
                @if (item.Id == 24)
                {
                
                    @item.Name
                
                }
            }
        }
    </h1>
</div>

<br />

<div class="row text-center">
    <div class="column col-6">
        <img src="~/Images/Components/RAM1.png" style="width:65%" />
    </div>
    <div class="column col-6">
        <h3 style="color:white">Description</h3>
        <p style="color:white">Corsair Vengeance RGB Pro 16GB will also light up your pc with the solid glow sticks on the top.  </p>
        <h1 style="color:white">
            Price: 
            @if (Model.components != null)
            {
                foreach(var item in Model.components)
                {
                    @if (item.Id == 24)
                    {
                        
                        @item.Price
                        
                    }
                }
            }
             kr
        </h1>
        <a class="btn btnGreen">Add to cart</a>
    </div>
</div>

<br />

<table class="table table-bordered border-black center bg-dark text-white" style="width:85%">
    <thead>
        <tr>
            <th style="width:50%">Specification</th>
            <th style="widht: 50%">Info</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Compatibility</td>
            <td>AMD and Intel</td>
        </tr>
        <tr>
            <td>Capacity</td>
            <td> 
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        @if (item.Id == 24)
                        {
                                @item.Capacity;
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Technology</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        @if (item.Id == 24)
                        {
                            @item.Technology;
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Form factor</td>
            <td> 
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        if (item.Id == 24)
                        {
                                @item.FormFactor;
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Speed</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        @if (item.Id == 24)
                        {
                            @item.Speed;
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Latency timings</td>
            <td>
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        @if (item.Id == 24)
                        {
                            @item.LatencyTimings
                            ;
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Voltage</td>
            <td> 
                @if (Model.components != null)
                {
                    foreach (var item in Model.components)
                    {
                        @if (item.Id == 24)
                        {
                                @item.Voltage;
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Colour category</td>
            <td> 
                @if (Model.components != null)
                    {
                    foreach (var item in Model.components)
                    {
                        @if (item.Id == 24)
                        {
                                @item.ColourCategory;
                        }
                    }
                }
            </td>
        </tr>
    </tbody>
</table>